* {
    background-color: rgb(58, 57, 57);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > #my-face {
    height: 140px;
    margin-top: 30px;
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
      }


div > #logo {
    height: 200px;
}

header > div {
    display: flex;
    flex-direction: row;
    vertical-align: top;
}

span {
    color:rgb(206, 13, 13);
    size: larger;
    font-weight: bold;
}

#unt-color {
    color: rgb(5, 150, 5);
}

#uta-color {
    color: orange;
}

@media screen and (min-width: 900px) {
    body {
       display: flex;
       flex-direction: row;
    }

    #introduction {
        margin-left: 40px;
        margin-right: 8%;
    }

    #large-screen-split {
        margin-top: 50px;
    }
}
